#!/bin/bash

## Auth Info
export IBMCLOUD_APIUSERNAME=            # Put your api username here
export IBMCLOUD_AUTHENTICATION_KEY=     # Put your authentication key here

export CLUSTER_NAME=test1
export CLUSTER_SERVICE_DOMAIN=cluster.local
export CLUSTER_SERVICES_CIDR_BLOCKS='["172.31.0.0/16"]'
export CLUSTER_PODS_CIDR_BLOCKS='["192.168.0.0/16"]'

## Control Plane Info
export CONTROL_PLANE_DOMAIN=${CLUSTER_NAME}.kube
export CONTROL_PLANE_DATACENTER=wdc01
export CONTROL_PLANE_OS_CODE=UBUNTU_LATEST
export CONTROL_PLANE_OS_CPU=4
export CONTROL_PLANE_OS_MEMORY=4096
export CONTROL_PLANE_SSH_KEYNAME=       # Put your ssh key name here
export CONTROL_PLANE_SSH_USERNAME=root

export CONTROL_PLANE_VERSION=1.14.0
export CONTROL_PLANE_KUBELET_VERSION=1.14.0

## Node Info, by default same as Control Plane
export NODE_DOMAIN=$CONTROL_PLANE_DOMAIN
export NODE_DATACENTER=$CONTROL_PLANE_DATACENTER
export NODE_OS_CODE=$CONTROL_PLANE_OS_CODE
export NODE_OS_CPU=$CONTROL_PLANE_OS_CPU
export NODE_OS_MEMORY=$CONTROL_PLANE_OS_MEMORY
export NODE_SSH_KEYNAME=$CONTROL_PLANE_SSH_KEYNAME
export NODE_SSH_USERNAME=$CONTROL_PLANE_SSH_USERNAME

export NODE_KUBELET_VERSION=$CONTROL_PLANE_KUBELET_VERSION

## Provider OS
export PROVIDER_OS=ubuntu

## Escape Special Chars
export CLUSTER_SERVICES_CIDR_BLOCKS=$(printf "%q" $CLUSTER_SERVICES_CIDR_BLOCKS)
export CLUSTER_PODS_CIDR_BLOCKS=$(printf "%q" $CLUSTER_PODS_CIDR_BLOCKS)
