# permissions for end users to view ibmpowervsclusters.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ibmpowervscluster-viewer-role
rules:
  - apiGroups:
      - infrastructure.cluster.x-k8s.io
    resources:
      - ibmpowervsclusters
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - infrastructure.cluster.x-k8s.io
    resources:
      - ibmpowervsclusters/status
    verbs:
      - get
