---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resourceNames:
  - ibmpowervsclusters.infrastructure.cluster.x-k8s.io
  - ibmpowervsclustertemplates.infrastructure.cluster.x-k8s.io
  - ibmpowervsimages.infrastructure.cluster.x-k8s.io
  - ibmpowervsmachines.infrastructure.cluster.x-k8s.io
  - ibmpowervsmachinetemplates.infrastructure.cluster.x-k8s.io
  resources:
  - customresourcedefinitions
  - customresourcedefinitions/status
  verbs:
  - patch
  - update
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - cluster.x-k8s.io
  resources:
  - clusters
  - clusters/status
  - machines
  - machines/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - ibmpowervsclusters
  - ibmpowervsimages
  - ibmpowervsmachines
  - ibmvpcclusters
  - ibmvpcmachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - ibmpowervsclusters/status
  - ibmpowervsimages/status
  - ibmpowervsmachines/status
  - ibmpowervsmachinetemplates/status
  - ibmvpcclusters/status
  - ibmvpcmachines/status
  - ibmvpcmachinetemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - ibmpowervsclustertemplates
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - ibmpowervsmachinetemplates
  - ibmvpcmachinetemplates
  verbs:
  - get
  - list
  - watch
